.css_bayer_pacientes_id_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_id_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_fecha_activacion_paciente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: center;}
.css_bayer_pacientes_fecha_retiro_paciente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: center;}
.css_bayer_pacientes_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_observacion_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_observacion_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_identificacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_telefono_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_telefono2_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_telefono3_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_correo_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_direccion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_barrio_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_barrio_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_departamento_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_departamento_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_genero_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_genero_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_fecha_nacimineto_paciente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_fecha_nacimineto_paciente_grid_line {vertical-align: top;text-align: center;}
.css_bayer_pacientes_edad_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_edad_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bayer_pacientes_acudiente_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_acudiente_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_telefono_acudiente_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_telefono_acudiente_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_codigo_xofigo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_codigo_xofigo_grid_line {vertical-align: top;text-align: right;}
.css_bayer_pacientes_status_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_status_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bayer_pacientes_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_usuario_creacion_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_id_tratamiento_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_id_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bayer_tratamiento_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_nombre_referencia_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_tratamiento_previo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_tratamiento_previo_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_consentimiento_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_consentimiento_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_fecha_inicio_terapia_tratamiento_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_fecha_inicio_terapia_tratamiento_grid_line {vertical-align: top;text-align: center;}
.css_bayer_tratamiento_regimen_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_regimen_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_punto_entrega_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_punto_entrega_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_fecha_ultima_reclamacion_tratamiento_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_fecha_ultima_reclamacion_tratamiento_grid_line {vertical-align: top;text-align: center;}
.css_bayer_tratamiento_otros_operadores_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_otros_operadores_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_medios_adquisicion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_medios_adquisicion_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_ips_atiende_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_ips_atiende_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_medico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_especialidad_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_especialidad_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_paramedico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_zona_atencion_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_zona_atencion_paramedico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_ciudad_base_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_ciudad_base_paramedico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_notas_adjuntos_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_notas_adjuntos_tratamiento_grid_line {vertical-align: top;text-align: left;}
