.css_bayer_pacientes_id_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_id_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_gestiones_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_gestiones_fecha_comunicacion_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_tratamiento_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_tratamiento_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bayer_pacientes_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_pacientes_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bayer_gestiones_evento_adverso_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_gestiones_evento_adverso_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bayer_gestiones_codigo_argus_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_gestiones_codigo_argus_grid_line {vertical-align: top;text-align: left;}
.css_bayer_gestiones_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bayer_gestiones_autor_gestion_grid_line {vertical-align: top;text-align: left;}
